<div class="wrapper">
  <div class="content">
      <form [formGroup]="searchForm" autocomplete="off">
        <span (click)="getWeatherByGeo()">
          <fa-icon
            [icon]="faCrosshairs"
            size="2x"
            [styles]="{'stroke': 'white', 'color': 'white'}"
            [classes]="['my-icon']">
          </fa-icon>
        </span>
        <input type="text" name="city0" id="city0"
          type="text" #iptSearch
          formControlName="searchControl"
          autocomplete="new-password"
          autocomplete="off"
        >
        <div class="content-list" *ngIf="cities?.length !== 0">
          <ul>
            <li *ngFor="let city of cities" (click)="getWeatherByCityName(city)">
              <span>{{city.name}}, {{city.country}}</span>
            </li>
          </ul>
        </div>
      </form>
      <div *ngIf="!loading">
        <p>{{weather?.city}}</p>
        <p>{{weather?.description}}</p>
        <p><b>{{weather?.temperature}}°</b></p>
      </div>
      <div *ngIf="loading" class="loader">Loading...</div>
  </div>
</div>
