<div class="wrapper">
  <div class="content">
    <form [formGroup]="searchForm" autocomplete="off">
      <p><b>{{weather?.temperature}}°</b></p>
      <p>{{weather?.city}}</p>
      <input type="text" name="city" id="city"
        type="text" #iptSearch
        formControlName="searchControl"
        autocomplete="new-password"
      >
      <div class="content-list" *ngIf="cities?.length !== 0">
        <ul *ngFor="let city of cities">
          <li>{{city.name}}, {{city.country}}</li>
        </ul>
      </div>
      <button type="submit">OK</button>
    </form>
  </div>
</div>
